<app-nav></app-nav>
<div class="center">
  <h2>Position: Position Name</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f='ngForm' (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="pName.errors">
              <label for="PositionName">Position Name:</label>
              <input #pName="ngModel" required [(ngModel)]="position.PositionName" class="form-control" id="PositionName" type="text" name="PositionName" />
              <span *ngIf="pName.errors" class="help-block">Position Name is Required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="pDescription.errors">
              <label for="PositionDescription">Description:</label>
              <textarea #pDescription="ngModel" required [(ngModel)]="position.PositionDescription" class="form-control" id="PositionDescription" rows="5" name="PositionDescription"></textarea>
              <span *ngIf="pDescription.errors" class="help-block">Position Description is Required</span>
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
        <input [disabled]="!f.valid" type="submit" class="btn btn-primary pull-right" value="Update Position" />
        <br />
        <br />
      </form>
    </div>
  </div>
<br />
<div *ngIf="successMessage" class="alert alert-success">
  <strong>Success!</strong> Position: "Position" was successfully saved.
</div>
<div *ngIf="failMessage" class="alert alert-danger">
  <strong>Error!</strong> Position: "Position" could not be saved.
</div>
</div>
<br /><br />
<app-footer></app-footer>